<div *ngIf="!secretSaved" id="saved-secret">
    <div>
        <div style="text-align: center;">
            <p>You can pase your Secret into the Textarea</p>
            <p>When it is </p>
        </div>
        <mat-form-field appearance="fill" style="width:100%">
            <mat-label>Secret</mat-label>
            <textarea matInput rows="5">{{secretId}}</textarea>
        </mat-form-field>
    </div>
    <div class="center">
        <button type="button" class="btn btn-primary" (click)="saveSecret()">Save</button>
    </div>
</div>

<div *ngIf="secretSaved" id="saved-secret">
    <div>
        <div style="text-align: center;">
            <p>Your Secret has been encrypted and temporarily saved</p>
            <p>Here are the credentials to retrieve them</p>
        </div>
        <mat-form-field appearance="fill" style="width:100%">
            <mat-label>Secret-ID</mat-label>
            <input matInput value="{{secretId}}">
        </mat-form-field>
        <mat-form-field appearance="fill" style="width:100%">
            <mat-label>Password</mat-label>
            <input matInput value="{{password}}">
        </mat-form-field>
    </div>
</div>
