<div *ngIf="!secretRetrieved" id="retrieve-secret-form">
    <div style="text-align: center;">
        <p>To retrieve your saved and encrypted Secret, please enter the following credentials</p>
        <p>After you retrieved your secret, it will be removed from the Database</p>
    </div>
    <form #secretsForm="ngForm" (ngSubmit)="getSecret(secretsForm.value)">
        <mat-form-field appearance="fill" style="width:100%">
            <mat-label>SecretID</mat-label>
            <input type="text" matInput name="SecretId" ngModel>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width:100%">
            <mat-label>Password</mat-label>
            <input type="text" matInput name="Password" ngModel>
        </mat-form-field>

        <div class="center">
            <button type="submit" class="btn btn-primary">Retrieve</button>
        </div>
    </form>
</div>

<div *ngIf="secretRetrieved" id="retrieved-secret">
    <div style="text-align: center;">
        <p>Your credentials were correct</p>
        <p>Here is your secret</p>
    </div>
    <div>
        <mat-form-field appearance="fill" style="width:100%">
            <mat-label>Secret</mat-label>
            <textarea matInput rows="5">{{retrievedSecret}}</textarea>
        </mat-form-field>
    </div>
</div>