<div *ngIf="!secretRetrieved" id="retrieve-secret-form">
    <div class="center">
        <p>To retrieve your saved and encrypted Secret, please enter the following credentials</p>
    </div>
    <form>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Secret-ID" aria-label="secret-id"
                aria-describedby="basic-addon1">
        </div>
    
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Password" aria-label="password"
                aria-describedby="basic-addon1">
        </div>
        <div class="center">
            <button type="button" class="btn btn-primary">Retrieve</button>
        </div>
    </form>
</div>

<div *ngIf="secretRetrieved" id="retrieved-secret">
    <div style="text-align: center;">
        <p>Your credentials were correct</p>
        <p>Here is your secret</p>
    </div>
    <div>
        <mat-form-field appearance="fill" style="width:100%">
            <mat-label>Secret</mat-label>
            <textarea matInput rows="5">{{retrievedSecret}}</textarea>
        </mat-form-field>
    </div>
</div>